<div id="content-form">
    <form class="form" [formGroup]="formLogin" (ngSubmit)="sendForms()">
        <p class="title">Login </p>
        <p class="message">Entra en tu cuenta. </p>
        <label>
            <input required="" placeholder="" type="email" class="input" formControlName="email">
            <span>Email</span>
        </label> 
        <div class="flex">
            @if(formLogin.get('email')?.invalid && submitted){
                <span class="fail-form">Email no válido</span>
            }
        </div>     
        <label>
            <input required="" placeholder="" type="password" class="input" formControlName="password">
            <span>Password</span>
        </label>
        <div class="flex">
            @if(formLogin.get('password')?.invalid && submitted){
                <span class="fail-form">Password no válido</span>
            }
        </div> 
        <button class="submit" type="submit">Entrar</button>
        <p class="signin">¿Aún no tienes cuenta? <a [routerLink]="'/auth/register'">Registrarte</a> </p>
    </form>
</div>
<div class="card flex justify-content-center">
    <p-toast />
</div>