*{
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: rgb(135, 176, 212); */
    display: flex;
    flex-direction: column;
    padding: 32px 16px 16px 16px;
    gap: 32px;
    border-top: 1px solid var(--border);
    section{
        display: flex;
        justify-content: space-between;
        /* padding: 16px; */
        margin: 0;
    }
    section:nth-child(1){
        /* background-color: rgb(54, 135, 206); */
        article{
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-width: 450px;
            height: auto;
            h4{
                display: flex;
                /* margin: 0; */
                /* padding: 0; */
                align-items: center;
                font-size: 22px;
                color: var(--accent);
                gap: 8px;
                img{
                    width: 40px;
                }
            }
            .description-app{
                font-size: 16px;
            }
            .social{
                display: flex;
                gap: 16px;
                align-items: center;
            }
            .social svg:hover{
                margin: 0;
                padding: 0;
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    }
    section:nth-child(2){
        /* background-color: rgb(54, 206, 173); */
        border-top: 1px solid var(--border);
        width: 100%;
        display: flex;
        justify-content: center;
        p{
            padding-top: 16px;
            font-size: 12px;
        }
    }
    .pi{
        font-size: 22px;
    }
    .pi:hover{
        transform: scale(1.1);
        opacity: 0.8;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    footer{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        /* background-color: rgb(135, 176, 212); */
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 32px;
        section{
            display: flex;
            justify-content: space-between;
            padding: 16px;
        }
        section:nth-child(1){
            /* background-color: rgb(54, 135, 206); */
            display: flex;
            flex-direction: column;
            gap: 32px;
            article{
                display: flex;
                flex-direction: column;
                gap: 16px;
                max-width: 450px;
                h4{
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                    color: var(--accent);
                    gap: 8px;
                    img{
                        width: 40px;
                    }
                }
                .description-app{
                    font-size: 16px;
                }
                .social{
                    display: flex;
                    gap: 16px;
                    align-items: center;
                }
                .social svg:hover{
                    margin: 0;
                    padding: 0;
                    transform: scale(1.1);
                    opacity: 0.8;
                }
            }
        }
        section:nth-child(2){
            /* background-color: rgb(54, 206, 173); */
            border-top: 1px solid var(--border);
            width: 100%;
            display: flex;
            justify-content: center;
            p{
                padding-top: 16px;
                font-size: 12px;
            }
        }
    }
}