header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid var(--border); */
    position: fixed;
    top: 0;
    z-index: 10;
    nav{
        position: relative;
        max-width: 1200px;
        width: 100%;
        display: flex;
        padding: 16px;
        margin: 16px;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary);
        border-radius: 30px;
        height: 60px;
        box-shadow: 1px 1px 3px var(--text);
        #profile-session{
            display: flex;
            align-items: center;
            gap: 16px;
        }
        span{
            height: 56px;
            width: auto;
            img{
                height: 100%;
            }
        }


        .email-profile{
            display: flex;
            align-items: center;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-size: 18px;
            transition: all 0.3s ease-in-out;
        }
        .email-profile:hover{
            opacity: 0.8;
            transform: scale(1.02);
            cursor: pointer;
        }

        /* menu desplegable */
        .menu-content{
            background-color: var(--secondary);
            display: flex;
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            width: 100%;
            left:0;
            top:0;
            z-index:-1;
            border-radius: 30px 30px 8px 8px ;
            padding-top: 60px;
            box-shadow: 1px 1px 3px var(--secondary);
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1.7s ease-in-out, opacity 0.5s ease-in-out;
            ul{
                background-color: var(--secondary);
                padding: 32px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                border-radius: 0 0 8px 8px;
                font-weight: 600;
                li{
                    list-style: none;
                    font-size: 22px;
                    color: var(--text);
                    padding: 4px;
                }
                li:hover{
                    border-bottom: 1px dotted var(--border);
                }
            } 
        }
        .menu-content.active{
            max-height: 500px;
            opacity: 1;
            visibility: visible;
            transition: max-height 1.7s ease-in-out, opacity 0.5s ease-in-out;
        }

        .content-links-btn{
             display: flex;
             gap:16px;
             align-items: center;
             font-size: 18px;
             ul{
                 list-style: none;
                 display: flex;
                 gap: 16px
             }
             div{
                display: flex;
                justify-content: center;
                div svg{
                    width: 34px;
                    height: 34px;
                }
             }
             .content-btn{
                 display: flex;
                 justify-content: center;
                 gap: 8px;
                 button{
                     border: none;
                     background-color: transparent ;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                 }
             }
        }
     }
}


li, span, svg{
    cursor: pointer;
    transition: transform 0.1s linear;
}
li:hover, span:hover, svg:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

@media (max-width: 767px) {

}