<div id="content-form">
    <form class="form" [formGroup]="formRegister" (ngSubmit)="sendForms()">
        <p class="title">Registro </p>
        <p class="message">Date de alta para usar la app. </p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input" formControlName="name">
                <span>Nombre</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input" formControlName="lastname">
                <span>Apellidos</span>
            </label>
        </div>  
        <div class="flex name-lastname">
            @if(formRegister.get('name')?.invalid && submitted){
                <span class="fail-form">Ingrese su nombre</span>
            }
            @if(formRegister.get('lastname')?.invalid && submitted){
                <span class="fail-form">Ingrese su apellido</span>
            }
        </div>
        <label for="sex">
            <select id="sex"  name="sex" formControlName="sex" class="input">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
            <span>Sexo:</span>
        </label>
        <label>
            <input required="" placeholder="" type="text" class="input" formControlName="population">
            <span>Ciudad/Población</span>
        </label> 
        <label for="level">
            <select id="level"  name="level" formControlName="level" class="input">
                <option value="Novato">Novato</option>
                <option value="Principiante">Principiante</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Avanzado">Avanzado</option>
                <option value="Profesional">Profesional</option>
            </select>
            <span>Nivel:</span>
        </label>  
        <label>
            <input required="" placeholder="" type="email" class="input" formControlName="email">
            <span>Email</span>
        </label> 
        <div class="flex">
            @if(formRegister.get('email')?.invalid && submitted){
                <span class="fail-form">Email no válido</span>
            }
        </div>    
        <label>
            <input required="" placeholder="" type="password" class="input" formControlName="password">
            <span>Contraseña</span>
        </label>
        <div class="flex">
            @if(formRegister.get('password')?.invalid && submitted){
                <span class="fail-form">
                    La contraseña debe contener al menos una letra minúscula, una letra mayúscula, un carácter especial, no debe contener espacios, y debe tener entre 8 y 16 caracteres de longitud.
                </span>
            }
        </div> 
        <label>
            <input required="" placeholder="" type="password" class="input" formControlName="confpassword">
            <span>Confirmar contraseña</span>
        </label>
        <div class="flex">
            @if(formRegister.get('confpassword')?.invalid && submitted){
                <span class="fail-form">Debe ser igual a la contraseña</span>
            }
        </div> 
        <button class="submit" type="submit">Registrarse</button>
        <p class="signin">¿Ya tienes una cuenta? <a [routerLink]="'/auth/login'">Login</a> </p>
    </form>
</div>


<div class="card flex justify-content-center">
    <p-toast />
</div>