
<div id="back-header">
    <header id="content-header">
        <section>
            <h1>
                Bienvenidos a 
               <span>Top Tenis Quedadas</span> , la plataforma perfecta para 
                los amantes del tenis que 
                <span>buscan compañeros/as de juego.</span> 
            </h1>
        </section>
        <section>
            <img src="../../../assets/images/ilustracion-home.png" alt="">
        </section>
        <section>
            <p>
                Nuestra aplicación web te permite organizar y unirte a quedadas 
                de tenis de manera fácil y rápida. Ya sea que seas principiante, 
                aficionado o un jugador avanzado. 
            </p>
            <p>
                Puedes encontrar personas de tu mismo nivel, programar partidos 
                en las canchas más cercanas y disfrutar de un buen rato de deporte.
            </p>
            <p>
                ¿Qué estás esperando? Únete a Top Tenis Quedadas y empieza a 
                planificar tus próximas quedadas de tenis hoy mismo. 
            </p>
            <button [routerLink]="'auth/register'">Registrate</button>
        </section>
    </header>
</div>
