#container{
    margin: 64px 16px;
}
#container-profile{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary);
    section:nth-child(1){
        width: 100%;
        display: flex;
        padding: 16px;
        /* justify-content: center; */
        align-items: center;
        /* background-color: #E2F5FF; */
        border: 2px solid gainsboro;
        background: url('./../../assets/images/back-player.jpg');
        background-size: cover;
        background-position: center center;
        
        article{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 0;
            padding: 0;
            #edit-profile-btn {
                margin-left: 10px;
                padding: 5px 10px;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
              }
              
            #edit-profile-btn:hover {
                background-color: #0056b3;
            }
              
            #image-profile{
                height: 300px;
                width: 300px;
                border-radius: 50%;
                object-fit: cover;
            }
            #name-profile{
                font-size: 38px;
                font-weight: 900;
            }
        }
        article:nth-child(2){
            justify-content: flex-start;
        }
    }
    section:nth-child(2){
        width: 100%;
        display: flex;
        /* padding: 16px; */
        article{
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 2px solid gainsboro;
            padding: 16px;
            gap: 8px;
            font-size: 20px;
            /* background-color: rgb(255, 255, 255); */
            span:nth-child(1){
                font-weight: 600;
            }
        }
        
    }
    section:nth-child(3){
        width: 100%;
        display: flex;
        article{
            display: flex;
            width: 100%;
            flex-direction: column;
            border: 2px solid gainsboro;
            padding: 16px;
            gap: 8px;
            font-size: 16px;
            /* background-color: rgb(255, 255, 255); */
            span:nth-child(1){
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 767px) {
    #container-profile{
        section:nth-child(1){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            article{
                /* width: 100%; */
                /* background-color: #889aa3; */
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        section:nth-child(2), section:nth-child(3){
            display: flex;
            flex-direction: column;
        }
    }

    
}