
<div class="card">
    <p-table [value]="players"
    #dt
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="['name', 'sex', 'population']"
        >

        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        class="search-input"
                        pInputText 
                        type="text" 
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Nombre <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="sex">
                    Sexo <p-sortIcon field="sex" />
                </th>
                <th pSortableColumn="population">
                    Localización <p-sortIcon field="population" />
                </th>
                <th pSortableColumn="level">
                    Nivel <p-sortIcon field="level" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <div class="content-photo">
                        @if (product.imageUrl != null) {
                            <img src="{{ product.imageUrl }}" alt="Photo" />
                        }@else {
                            <img src="../../assets/images/user-icon-default.webp" alt="">
                        }
                        <span (click)="selectPlayer(product)" class="player-select">{{ product.name }}</span>
                    </div>
                </td>
                <td>{{ product.sex }}</td>
                <td>{{ product.population }}</td>
                <td>{{ product.level }}</td>
                 <!-- <td>
                    <p-rating [(ngModel)]="product.level" [readonly]="true" [cancel]="false" [stars]="8" [title]="product.level" />
                 </td> -->
            </tr>
        </ng-template>
    </p-table>
</div>